amarillo = #FFFF00
azul = #0071BC
blanco = #F2F2F2
blanco2 = #E6E6E6
gris1 = #666
gris2 = #B3B3B3
gris3 = #4D4D4D
gris4 = #808080
rojo = #EC2029
verde = #39B54A

@font-face {
    font-family: 'boxedmedium';
    src: url('../fonts/tipo_pepel_-_boxedmedium-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedmedium-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedmedium-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedmedium-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedmedium-webfont.svg#boxedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'boxedlight';
    src: url('../fonts/tipo_pepel_-_boxedlight-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedlight-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedlight-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedlight-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedlight-webfont.svg#boxedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'boxedheavy';
    src: url('../fonts/tipo_pepel_-_boxedheavy-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedheavy-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedheavy-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedheavy-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedheavy-webfont.svg#boxedheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'boxedextralight';
    src: url('../fonts/tipo_pepel_-_boxedextralight-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedextralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedextralight-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedextralight-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedextralight-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedextralight-webfont.svg#boxedextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'boxedbook';
    src: url('../fonts/tipo_pepel_-_boxedbook-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedbook-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedbook-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedbook-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedbook-webfont.svg#boxedbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'boxedbold';
    src: url('../fonts/tipo_pepel_-_boxedregular-bold-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedregular-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedregular-bold-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedregular-bold-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedregular-bold-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedregular-bold-webfont.svg#boxedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'boxedregular';
    src: url('../fonts/tipo_pepel_-_boxedregular-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedregular-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedregular-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedregular-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedregular-webfont.svg#boxedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'boxedthin';
    src: url('../fonts/tipo_pepel_-_boxedthin-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedthin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedthin-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedthin-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedthin-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedthin-webfont.svg#boxedthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'boxedsemibold';
    src: url('../fonts/tipo_pepel_-_boxedsemibold-webfont.eot');
    src: url('../fonts/tipo_pepel_-_boxedsemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tipo_pepel_-_boxedsemibold-webfont.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_boxedsemibold-webfont.woff') format('woff'),
         url('../fonts/tipo_pepel_-_boxedsemibold-webfont.ttf') format('truetype'),
         url('../fonts/tipo_pepel_-_boxedsemibold-webfont.svg#boxedsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


header
    background url('../images/fondo-cabecera.png')
    height 543px
    position fixed
    width 1080px
    z-index 999999

    .buscador
        background rgba(0,0,0,0.5)
        border-bottom 2px solid black 
        clear both
        height 120px
        margin-top 80px
        padding-top 10px
        position relative
        top 60px

        .boton
            font-family 'boxedheavy'
            font-size 28px
            height 98px
            padding-top 25px

        .btn-buscar
            background verde
            border 2px solid gris2
            color white
            font-family 'boxedheavy'
            font-size 24px
            height 98px
            position relative
            right -883px
            top -98px

        .buscar
            box-shadow inset gris2 0 -2px 20px 0
            font-family 'boxedlight'
            font-size 50px
            height 100px
            text-transform uppercase

    .logo-cabecera
        float left
        height auto
        padding 75px 0 0 125px
        width 286px

    .titular
        border-left 10px solid white
        float right
        height auto
        margin-top 75px
        overflow hidden
        padding-left 50px
        width 600px

        h1
            margin-top -5px

            .linea1, .linea2, .linea3
                color white
                font-family 'boxedheavy'
                font-size 65px
                text-shadow 0 0 50px rgba(0,0,0,0.5)

            .linea3
                font-size 2.3em



.fondo
	background url('../images/Fondo-gris.png')
	height 1920px
	left 0
	margin-left auto
	margin-right auto
	position fixed
	right 0
	width 1080px
	z-index -1

	.logo-fef
		height auto
		margin 0px auto
		margin-top 650px
		text-align center
		width auto

	.heavy-text
		
        font-size 65px
        font-family 'boxedheavy'
        text-align center

        a
            color gris1

        a:hover
            text-decoration none

footer
    bottom -100px
    position relative

    .pie
        color gris1
        font-family 'boxedbook'
        font-size larger
        text-align center

.footer2


    .pie
        color gris1
        font-family 'boxedbook'
        font-size small
        text-align justify



.lista
    margin-top 600px

    .no-color
        color inherit

    .item-lista
        padding 20px 0

        .descripcion
            background blanco
            border-bottom 1px solid gris2
            border-right 1px solid gris2
            box-shadow 20px 20px 0 rgba(100,100,100,0.1)
            float right
            height 295px
            padding 15px
            width 520px

            .detalle
                bottom -50px
                font-family 'boxedbold'
                position relative

            hr
                border-color blanco2

            .nombre
                color azul
                font-family 'boxedheavy'
                font-size 40px
                text-transform uppercase

            .numero-camiseta
                color blanco2
                font-family 'boxedheavy'
                font-size 150px
                line-height 0

        .foto
            background blanco
            float left
            height 295px
            text-align center
            padding-top 12px
            width 295px

            .foto-perfil-medio-campo
                border-bottom 10px solid amarillo

            .foto-perfil-defensa
                border-bottom 10px solid verde

            .foto-perfil-delantero
                border-bottom 10px solid rojo

.lista
    margin-top 600px

    .item-lista
        padding 20px 0

        .descripcion
            background blanco
            border-bottom 1px solid gris2
            border-right 1px solid gris2
            box-shadow 20px 20px 0 rgba(100,100,100,0.1)
            float right
            height auto
            overflow hidden
            padding 15px
            width 520px

            .dashed
                border-color blanco2
                border-style dashed
                clear both
                margin 20px 0

            .detalle
                bottom -18px
                font-family 'boxedbold'
                position relative

            .division
                background url('../images/barra-division.png') no-repeat
                color blanco
                height 56px
                font-family 'boxedheavy'
                margin-top 20px
                padding 10px 0 0 12px
                text-transform uppercase

                span
                    font-size 30px
                    height 100%

                    text-shadow 5px 5px 0px rgba(0,0,0,0.5)

            hr
                border-color blanco2

            .nombre
                color azul
                font-family 'boxedheavy'
                font-size 40px
                text-transform uppercase

            .numero-camiseta
                color blanco2
                font-align right
                font-family 'boxedheavy'
                font-size 150px
                line-height 0
                margin-top -50px

            .texto-desc
                color gris3
                font-family 'boxedheavy'
                font-size 30px
                text-transform uppercase

                .categoria
                    color gris4
                    font-family 'boxedmedium'

            .titular-verde, .titular-gris
                color verde
                font-family 'boxedheavy'
                font-size 25px
                line-height 0
                text-transform uppercase

            .titular-gris
                color gris3

        .foto-grande
            background blanco
            float left
            height 595px
            text-align center
            padding-top 12px
            width 295px

            .foto-perfil-medio-campo
                border-bottom 10px solid amarillo

            .foto-perfil-defensa
                border-bottom 10px solid verde

            .foto-perfil-delantero
                border-bottom 10px solid rojo

            .nombre
                color azul
                font-family 'boxedheavy'
                font-size 40px
                text-align left
                text-transform uppercase

        .transferencia
            background blanco2
            margin-top 10px

            .texto-desc
                color gris3
                font-family 'boxedheavy'
                font-size 20px
                line-height 5px
                text-transform uppercase

                .categoria
                    color gris4
                    font-family 'boxedmedium'

            .titular-verde, .titular-gris
                color verde
                font-family 'boxedheavy'
                font-size 15px
                line-height 0
                text-transform uppercase

            .titular-gris
                color gris3

.logo-touch
    bottom 10px
    left 50px
    position fixed
    
.slimScrollDiv { border: 1px solid #ccc; margin:10px; }

::-webkit-scrollbar{
  width:2px;
} 

::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,1);
} 
